{% extends "templates/web.html" %}
{% block page_content %}
<html lang="en">  
   <head>  
      <title>Mermaind Javascript Flow chart Example</title>  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <!-- <script src="mermaid.min.js"></script> -->
      <script src="/assets/diagram_app/js/mermaid.min.js"></script>
      <!-- <script>mermaid.initialize({startOnLoad:true});</script>   -->
      <script>
         mermaid.mermaidAPI.initialize({
            //  startOnLoad:false,
             flowchart: {

               curve: 'basis' 
             },
             securityLevel: 'loose',
         });
         window.login = {};
         $(function(){
          //alert('hi');
            //  // Example of using the API
             var element = document.querySelector("#graphDiv");
     
            //  var insertSvg = function(svgCode, bindFunctions){
            //      element.innerHTML = svgCode;
            //  };
     
            //  var graphDefinition = 'graph TB\na-->b';
            //  var graphDefinition = $('#divtext5').text();
            // //  var graph = mermaid.mermaidAPI.render('graphDiv',graphDefinition);
            // mermaid.render('id', graphDefinition).then(({ svg, bindFunctions }) => {
            //   element.innerHTML = svg;
            //   // bindFunctions?.(element);
            // });
            $("#create").click(function()
          {
            // alert('click');
          var element = $("#graphDiv");
          var args = {};
          args.cmd = "diagram_app.www.erd.erd.get_erd";
          args.doc_type = $("#doc_type").val();
          args.doc_name = $("#doc_name").val();
          args.status = $("#status").val();
          call_api(args).then((message) => {
            // alert(message.message);
                  var graphDefinition = message.message;
                  mermaid.render('id', graphDefinition).then(({ svg, bindFunctions }) => {
                  element.html(svg);
                });
          }).catch(() => {
            alert("Error");
          });




                 
          });
          $('#doc_type').on('change', function () {
            var args = {};
          args.cmd = "diagram_app.www.erd.erd.get_doc_name";
          args.doc_type = $("#doc_type").val();
          call_api(args).then((message) => {
            // alert(message.message);
                  var data = message.message;
                  $('#doc_name').html(data);
                  
          }).catch(() => {
            alert("Error");
          });


          });

          $('#doc_name').on('change', function () {
            var args = {};
          args.cmd = "diagram_app.www.erd.erd.get_status";
          args.doc_name = $("#doc_name").val();
          call_api(args).then((message) => {
            // alert(message.message);
                  var data = message.message;
                  $('#status').html(data);

          }).catch(() => {
            alert("Error");
          });


          });

         
           function call_api (args, callback) {

              return frappe.call({
                type: "POST",
                args: args,
                callback: callback,
                freeze: true
              });
            }
         });

         

         
         
     </script>
     
   </head>  
   <body>
   <div class="row">
       <div class="col-md-4">
       <select id="doc_type" class="form-select" aria-label="Default select example">
          <option value="Diagram Doc DA">Diagram Doc</option>
          <option value="Workflow">Workflow</option>
        </select>
       </div>
         <div class="col-md-4">
             <select id="doc_name" class="form-select" aria-label="Default select example">
                 

            </select>
         </div>
        <div class="col-md-4">
             <select id="status" class="form-select" aria-label="Default select example">


            </select>
         </div>

   </div>
    <input type="button" id="create" value="Show"/>

       <div  id="graphDiv" style="direction: ltr;">
        
        </div>
        <script>frappe.csrf_token = "{{frappe.session.csrf_token}}";</script>
   </body>  
</html>  

{% endblock %}